
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&display=swap');


.container{
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.inside-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 70vh;
    border: 5px solid rgb(5, 91, 119);
    border-radius: 18px;
    background-color: rgb(253, 254, 255);
}

.inside-form h1{
    
    font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
    color: rgb(214, 0, 0);
}

.form{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form,label,text{
    font-family: "Recursive", sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.form input{
    width: 90%;
    margin: 10px;
    padding: 5px;
    font-size: small;
    color: rgb(0, 0, 0);
    border: 5px solid rgb(189, 138, 8);
    border-radius: 10px;
    font-family: "Rubik Wet Paint", system-ui;
}
.join-button button{
    background-color: rgb(7, 57, 112);
    width: 20vw;
    height: 5vh;
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 300;
    font-style: normal;
    font-size: medium;
    color: aliceblue;
    border-radius: 20px;
}
