@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&display=swap');

.theroom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.theroom h1{
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    font-style: normal;
    color: red;
}
.theroom h4{
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(42, 169, 0);
 
}
.theroom button{
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(42, 169, 0);
    width: 40vw;
    height: 5vh;
}

